.App {
  text-align: center;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.link {
  color: black;
  padding: 20px;
  font-weight: bold;
  text-decoration: none;
}

.link:hover {
  color: green;
}

.title {
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: blue;
  background-color: aquamarine;
  border-radius: 50%;
  height: 364px;
  width: 364px;
}

.image {
  display: inline;
  margin-left: auto;
  margin-right: auto;
  color: blue;
  background-color: aquamarine;
  border-radius: 50%;
  height: 100px;
  width: 100px;
}

.nav-image {
  display: inline;
  margin-left: auto;
  margin-right: auto;
  color: blue;
  background-color: aquamarine;
  border-radius: 50%;
  height: 100px;
  width: 100px;
}

.date {
  display: inline;
  color: green;
  font-size: 20px;
}

.sub-title {
  display: inline;
  color: purple;
  font-size: 15px;
}